 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Lifelong learning is the "ongoing, voluntary, and self-motivated" pursuit of knowledge for either personal or professional reasons. The term recognizes that learning is not confined to childhood or the classroom but takes place throughout life. Learning can be seen as something that takes place on an on-going basis from our daily interactions with others and with the world around us. If you want to become the best man you can be, you need to adopt a mindset of lifelong learning.</p>
                </div>
                <div class="col-lg-4">
                    <p>Henry Ford said, "Anyone who stops learning is old, whether at twenty or eighty. Anyone who keeps learning stays young. The greatest thing in life is to keep your ming young". The idea of learning for its own sake is great. But it is even greater if you manage to apply what you learn to improving your life and the lives of others. This is what i personally prefer.</p>
                </div>
            </div>
        </div>
    </section>
